<!--=== Content Part ===-->
  <div class="container">
    <!--Reg Block-->
    <div class="reg-block">
      <div class="reg-block-header">
        <h2>Check In</h2>
        <!-- <ul class="social-icons text-center">
          <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
          <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
          <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
          <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
        </ul>
        <p>Already Signed Up? Click <a class="color-green" href="page_login1.html">Sign In</a> to login your account.</p>
 -->      </div>
    <%= form_tag('/emts', {:method => :post}) do %>
      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <!-- <input type="text" class="form-control" placeholder="First Name"> -->
        <%= text_field_tag :emt_name, @emt.emt_name, class: "form-control", placeholder: "EMT Name" %>
      </div>
      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <!-- <input type="text" class="form-control" placeholder="Last Name"> -->
        <%= text_field_tag :emt_phone_number, @emt.emt_phone_number, class: "form-control", placeholder: "EMT Phone Number" %>
      </div>
      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <!-- <input type="text" class="form-control" placeholder="Gender"> -->
        <%= text_field_tag :patient_name, @emt.patient_name, class: "form-control", placeholder: "Patient Name" %>
      </div>
      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <!-- <input type="text" class="form-control" placeholder="Gender"> -->
        <%= text_field_tag :patient_gender, @emt.patient_gender, class: "form-control", placeholder: "Patient Gender" %>
      </div>
      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <!-- <input type="text" class="form-control" placeholder="Gender"> -->
        <%= text_field_tag :patient_age, @emt.patient_age, class: "form-control", placeholder: "Patient Age" %>
      </div>
      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <!-- <input type="text" class="form-control" placeholder="Gender"> -->
        <%= text_field_tag :patient_symptoms, @emt.patient_symptoms, class: "form-control", placeholder: "Patient Symptoms" %>
      </div>
      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <!-- <input type="text" class="form-control" placeholder="Gender"> -->
        <%= text_field_tag :patient_condition, @emt.patient_condition, class: "form-control", placeholder: "Patient Condition" %>
      </div>
      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <!-- <input type="text" class="form-control" placeholder="Gender"> -->
        <%= text_field_tag :patient_address, @emt.patient_address, class: "form-control", placeholder: "Patient Address" %>
      </div>
      <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <!-- <input type="text" class="form-control" placeholder="Reason for Visit"> -->
        <%= label_tag :hospital %>
        <%= collection_select :hospital, :hospital_id, @hospitals, :id, :name, class: "form-control" %>
      </div><!-- 
      <div class="input-group margin-bottom-30">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input type="text" class="form-control" placeholder="Confirm Password">
      </div> -->
      <hr>
<!-- 
      <div class="checkbox">
        <label>
          <input type="checkbox">
          I read <a target="_blank" href="page_terms.html">Terms and Conditions</a>
        </label>
      </div> -->

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!-- <button type="submit" class="btn-u btn-block">Check In</button> -->
          <%= submit_tag "Check In", class: "btn-u btn-block" %>
        </div>
      </div>
    </div>
    <!--End Reg Block-->
  </div>
  <% end %><!--/container-->
  <!--=== End Content Part ===-->
